.login_input{
    border-radius: 3px;
    height: 25px;
    text-align: center;
}
.login_label{
    color: inherit;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.login_label_title{
    color: inherit;
    font-family: Segoe UI;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.login_form{
    display:flex;
    flex-direction: column;
    width: 300px;
    padding-top: 25px;
}
.login{
    height: 100vh;
    max-height: 1024px;
    width: 100vw;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
