body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.dark{
  background-color: black;
  color: aliceblue;
}
.light{
  background-color: white;
  color: green;

}
main{
  margin: 0px;
  height: 100vh;
}
