.button_theme{
    display: flex;
    width: 52px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 38px;
    align-items: center;
    justify-content: center;
}
.button_position{
    padding-top: 1.5rem;
}
.button_image{
    width: 52px;
    height: 53px;
    flex-shrink: 0;
}
