div.vertical{
    display: flex;
    flex-direction: column;

    position: relative;

}
div.horizontal{
    display:flex;

    position: relative;
}
div.border{
    border-style: solid;
    border-color: inherit;
    border-radius: 12px;
}
.expand{
    width: 100%;
}
.small{
    padding: 10px;
}
.medium{
    padding: 20px;
}
.large{
    padding:30px;
}
